<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
            #drawer
            class="sidenav"
            position="start"
            mode="over"
            fixedInViewport="true"
            [attr.role]="'dialog'"
            [opened]="false">
        <!--[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
        <!--[mode]="(isHandset$ | async) ? 'over' : 'side'"-->
        <!--[opened]="!(isHandset$ | async)">-->
        <app-left-sidenav></app-left-sidenav>
    </mat-sidenav>
    <mat-sidenav
            #rightDrawer
            class="sidenav"
            position="end"
            mode="side"
            fixedInViewport="true"
            [attr.role]="'navigation'"
            [opened]="false">
        <app-right-sidenav></app-right-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header [drawer]="drawer"></app-header>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div style="text-align:center">
                        <h1 class="mt-5">
                            Welcome to {{ title }}!
                        </h1>
                        <img width="250" alt="Angular Logo"
                             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

